<app-welcome></app-welcome>
<div class="card m-3">
  <div class="row g-0">
    <div class="col-md-3 justify-content-center">
      <img
        src="https://www.vhv.rs/dpng/d/591-5911320_professional-man-in-suit-png-transparent-png.png"
        class="img-fluid rounded-start img-responsive"
        alt="..."
      />
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">P Dhanjaya Reddy</h5>
        <div>Founder & CEO</div>
        <div>7 Years of Experience</div>
        <div>9966464229</div>
        <ul>
          <li>
            Expert at designing and manufacturing of the Hydraulic cylinders and
            hydraulic static steering valves
          </li>
          <li>
            Expert at designing and manufacturing of the Hydraulic cylinders and
            hydraulic static steering valves
          </li>
          <li>
            Expert at designing and manufacturing of the Hydraulic cylinders and
            hydraulic static steering valves
          </li>
          <li>
            Expert at designing and manufacturing of the Hydraulic cylinders and
            hydraulic static steering valves
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
