
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <p class="h3 font-weight-bold">Welcome to Tube Tree Hydraulics</p>
      <div>
        <p class="textalignjustify">
          Tube Tree Hydraulics manufactures in India delivers superior quality
          hydraulics machinery including Hydraulic Cylinders, Hydrostatic
          Steering Valve, Hydraulic Power Packs and Rotatory Joints. We
          specialize in designing to manufacturing customized products to your
          requirements. Our products are prefferd in various industrial sectors
          like Construction, Mobile Hydraulics, Material Handling, Mining and
          many more.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <p class="h3 font-weight-bold">Why Us?</p>
      <div>
        <ul>
          <li>Word-class Infrastructure</li>
          <li>On-time Delivery</li>
          <li>High Expertise Perosonnels</li>
        </ul>
      </div>
    </div>
  </div>
</div>
